//-------------------------------------------------------------------------------------------
// EMpezamos!!!!
//-------------------------------------------------------------------------------------------	

html {
  background-color: $body-background-color;
}	
.show-for-sr {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}
.wrapped {
    margin: 0 auto;
    max-width: $global-width;
    padding: rem-calc(16);
}