$colors-palette: (
  primary: #ea0b8c,
  secondary: #a2afb6,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$white: #fff;
$medium-gray: #d4d4d4;
$body-background-color: #f0f2f6;
$body-font-color: #383e42;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$header-font-family: $body-font-family;
$global-weight-normal: 400;
$global-weight-bold: 600;
$global-width: rem-calc(1200);
$breakpoints: (
  small: 0,
  medium: 460px,
  large: 1024px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);