/// @returns {Color} color from foundation-palette
@function get-color($key) {
  @if map-has-key($colors-palette, $key) {
    @return map-get($colors-palette, $key);
  }
  @else {
    @error 'given $key is not available in $colors-palette';
  }
}
