.search-field {
  position: relative; }
  @media screen and (min-width: 64em) {
    .search-field {
      display: inline-block; } }

.search-field__input {
  border: solid 0.125rem #a2afb6;
  font-size: 0.8125rem;
  font-weight: 600;
  padding: 0.6875rem 2.5rem 0.6875rem 0.3125rem;
  width: 100%; }
  @media screen and (min-width: 64em) {
    .search-field__input {
      max-width: 17.1875rem; } }

.search-field__submit-button {
  border: 0;
  background: none;
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  line-height: 2.625rem;
  transition: all ease-in-out .3s; }
  .search-field__submit-button svg path {
    fill: #a2afb6; }
  .search-field__submit-button:hover {
    background-color: #ea0b8c; }
    .search-field__submit-button:hover svg path {
      fill: #fff; }
