@import '../utils/all';
@import '../base/variables';

.search-field {
    position: relative;
    @include breakpoint(large) {
        display: inline-block;
    }
}
.search-field__input {
    border: solid rem-calc(2) get-color(secondary);
    font-size: rem-calc(13);
    font-weight: $global-weight-bold;
    padding: rem-calc(11 40 11 5);
    width: 100%;
    @include breakpoint(large) {
        max-width: rem-calc(275);
    }
}
.search-field__submit-button {
    border: 0;
    background: none;
    display: block;
    width: rem-calc(36);
    height: rem-calc(36);
    text-align: center;
    position: absolute;
    top: rem-calc(2);
    right: rem-calc(2);
    line-height: rem-calc(42);
    transition: all ease-in-out .3s;
    svg {
        path {
            fill: get-color(secondary);
        }
    }
    &:hover {
        background-color: get-color(primary);
        svg {
            path {
                fill: $white;
            }
        }
    }
}
