@import '../utils/all';
@import '../base/variables';


.fe-widget-vehicles-grid{
    display: flex;
    flex-flow: row wrap;
    margin: rem-calc(50 -10);
}
.fe-widget-vehicles-grid__item {
    flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    width: 100%;
    padding: rem-calc(0 10 20 10);
    @include breakpoint(medium) {
        width: 50%;
    }
    @include breakpoint(large) {
        width: 33.3333%;
    }
}
.widget-vehicles-box {
    height: 100%;
    background: $white;
    border-radius: rem-calc(10);
    padding: rem-calc(20);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, .3);
}
.widget-vehicles-box__icon {
    margin: rem-calc(16 0);
    text-align: center;
}
.widget-vehicles-box__n-drivers {
    font-weight: $global-weight-bold;
    margin-bottom: rem-calc(5);
}
.widget-vehicles-box__n-drivers--no-drivers {
    text-align: center;
}
.widget-vehicles-box__driver-data {
    padding: rem-calc(10 0);
}
.widget-vehicles-box__driver-data__name {
    display: block;
    font-size: rem-calc(15);
}
.widget-vehicles-box__driver-data__email {
    font-size: rem-calc(12);
    color: get-color(secondary);
}