.fe-widget-vehicles-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 3.125rem -0.625rem; }

.fe-widget-vehicles-grid__item {
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%;
  padding: 0 0.625rem 1.25rem 0.625rem; }
  @media screen and (min-width: 28.75em) {
    .fe-widget-vehicles-grid__item {
      width: 50%; } }
  @media screen and (min-width: 64em) {
    .fe-widget-vehicles-grid__item {
      width: 33.3333%; } }

.widget-vehicles-box {
  height: 100%;
  background: #fff;
  border-radius: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3); }

.widget-vehicles-box__icon {
  margin: 1rem 0;
  text-align: center; }

.widget-vehicles-box__n-drivers {
  font-weight: 600;
  margin-bottom: 0.3125rem; }

.widget-vehicles-box__n-drivers--no-drivers {
  text-align: center; }

.widget-vehicles-box__driver-data {
  padding: 0.625rem 0; }

.widget-vehicles-box__driver-data__name {
  display: block;
  font-size: 0.9375rem; }

.widget-vehicles-box__driver-data__email {
  font-size: 0.75rem;
  color: #a2afb6; }
